/* .out-container {
    margin-top: 7%;
}

.out-container h2{
    /* margin-bottom: 5px; */


.order-form-container {
    max-width: 600px;
    /* margin: 50px auto; */
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 8%;
    margin-bottom: 1%;
}

.order-form-container h2 {
    text-align: center;
    padding-top: 5px;
    font-size: x-large;
    /* margin-bottom: 20px; */
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: white;
}

.form-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.cart-items h3 {
    margin-top: 30px;
    color: white;
}

.cart-items p {
    color: white;
    font-size: x-large;
    /* font-weight: bolder; */
}

.cart-items ul {
    list-style-type: none;
    padding: 0;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    color: white;
}

.remove-button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.remove-button:hover {
    background-color: #e60000;
}

.submit-button {
    width: 100%;
    padding: 12px;
    background-color: white;
    color: #f77fbe;
    border: none;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

.submit-button:hover {
    background-color: #ff4d4d;
    color:white;
}

/* Limit the height of the dropdown */
.form-group select {
    width: 100%; /* Ensures it takes full width */
    height: 40px; /* Adjust height as needed */
    font-size: 16px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Limit dropdown list height and enable scrolling */
.form-group select option {
    max-height: 200px; /* Set max height for dropdown */
    overflow-y: auto; /* Enable vertical scroll if too many options */
}


/* Mobile-friendly медийни заявки */
@media (max-width: 768px) {
    .order-form-container {
        margin-top: 20%;
    }


}