.products-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0px 0;
    padding: 0px;
    margin-bottom: 50px;
    scroll-margin-top: 80px;
}

.products-title {
    font-family: 'Roboto Slab';
    width: 100%;
    text-align: center;
    font-size: 41px;
    color: #f77fbe;
    margin: 20px 0 10px;
}

.product-link {
    text-decoration: none;
    color: inherit;
}

.product-card {
    width: 100%; /* Позволява на картата да се адаптира към родителския контейнер */
    max-width: 350px;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    font-family: 'Lobster';
    /* margin-left: 10%; */
}

    .product-card:hover {
        transform: rotate(+1deg) scale(1.05);
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    }

    .product-card.coming-soon img {
        filter: blur(5px);
        opacity: 0.5;
    }

.product-image {
    width: 100%;
    max-width: 100%; /* Ограничава изображението до максималната ширина на контейнера */
    height: 80%; /* Височината също се настройва според контейнера */
    object-fit: contain; /* Изображението ще се адаптира, без да излиза извън контейнера */
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}


.old-price {
    font-size: 14px;
    color: #999;
    text-decoration: line-through;
    margin: 5px 0;
}

.new-price {
    font-size: 18px;
    color: #f77fbe;
    font-weight: bold;
}

h3, p {
    margin: 5px;
}

/* Медийни заявки за адаптиране на ширината на продуктовите карти */
@media (max-width: 1200px) {
    .product-card {
        max-width: 250px;
    }

    .products-title {
        font-size: 36px;
    }
}

@media (max-width: 992px) {
    .product-card {
        max-width: 200px;
    }

    .products-title {
        font-size: 30px;
    }
}

@media (max-width: 768px) {
    .products-section {
        justify-content: center;
    }

    .product-card {
        max-width: 180px;
    }

    .products-title {
        font-size: 28px;
    }
}

@media (max-width: 576px) {
    .product-card {
        max-width: 150px;
    }

    .product-image {
        height: auto;
    }

    .product-card:hover {
        text-decoration: underline;
    }

    .products-title {
        font-size: 20px;
    }
}
